<nav>
    <div class="navbar-title">
        <span class="center">Menue</span>
    </div>
    <ul class="main-navigation-menu">
        <li {% if app.request.get('_route')=='dashboard' %}class="active"{% endif %}>
            <a href="index.html">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-home"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Tableau de board </span>
                    </div>
                </div>
            </a>
        </li>
        <li {% if app.request.getPathInfo|split('/facture')|length > 1 %}class="active open" {% endif %}>
            <a href="javascript:void(0)">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-files"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Factures </span><i class="icon-arrow"></i>
                    </div>
                </div>
            </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='liste' %}class="active"{% endif %}>
                    <a href="{{ path('liste') }}">
                        <span class="title">Mes factures</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='entete' %}class="active"{% endif %}>
                    <a href="{{ path('entete') }}">
                        <span class="title">Nouvelle Factures</span>
                    </a>
                </li>
            </ul>
        </li>
        <li {% if app.request.getPathInfo|split('/ref')|length > 1 %}class="active open" {% endif %}>
            <a href="javascript:void(0)">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-settings"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Réferentiel </span><i class="icon-arrow"></i>
                    </div>
                </div>
            </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='produit' %}class="active"{% endif %}>
                    <a href="{{ path('produit') }}">
                        <span class="title">Produits</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='tva' %}class="active"{% endif %}>
                    <a href="{{ path('tva') }}">
                        <span class="title">Tva</span>
                    </a>
                </li>
                <li {% if app.request.get('_route')=='user' %}class="active"{% endif %}>
                    <a href="{{ path('user') }}">
                        <span class="title">Utilisateurs</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
</nav>