{% trans_default_domain 'FOSUserBundle' %}

<form class="form-login" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form._token) }}
    <fieldset>
        <legend>
            Changer mot de passe
        </legend>
        <div class="form-group">
            <span class="input-icon">
                {{ form_widget(form.current_password,{attr:{'class':'form-control','placeholder':'Mot de passe courant'}}) }}
                <i class="fa fa-lock"></i> </span>
                {{ form_errors(form.current_password)}}
        </div>
        <div class="form-group">
            <span class="input-icon">
                {{ form_widget(form.plainPassword.first,{attr:{'class':'form-control','placeholder':'Nouveau mot de passe'}}) }}
                <i class="fa fa-lock"></i> </span>
                {{ form_errors(form.plainPassword.first)}}
        </div>
        <div class="form-group">
            <span class="input-icon">
                {{ form_widget(form.plainPassword.second,{attr:{'class':'form-control','placeholder':'Confirmationt'}}) }}
                <i class="fa fa-lock"></i> </span>
                {{ form_errors(form.plainPassword.second)}}
        </div>
        <button type="submit" class="btn btn-primary pull-right">
            Submit <i class="fa fa-arrow-circle-right"></i>
        </button>
    </fieldset>
</form>
