{% extends "::base.html.twig" %}
{% block title %}Gestion des ligne{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Formulaire</span></h5>
                <form action="{{ path('addligne',{'id':entete.id,'ligne':ligne.id}) }}" method="post" role="form" id="form">
                    {{ form_widget(form._token) }}
                    <div class="row">
                        {{ formulaire.select2("col-md-3","Parent",form.parent,true) }}
                        {{ formulaire.select2("col-md-2","Produit",form.produit,true) }}
                        {{ formulaire.input("col-md-4","Désignation",form.designation,true) }}
                        {{ formulaire.input("col-md-2","Quantité/nbr nuités",form.quantite,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-2","Nombre adulte",form.nbrAdulte,true) }}
                        {{ formulaire.input("col-md-2","Prix unitaire HT",form.puhtAdulte,true) }}
                        {{ formulaire.input("col-md-2","Prix unitaire TTC",form.puttAdulte,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-2","Nombre enfant",form.nbrEnfant,true) }}
                        {{ formulaire.input("col-md-2","Prix unitaire HT",form.puhtEnfant,true) }}
                        {{ formulaire.input("col-md-2","Prix unitaire TTC",form.puttEnfant,true) }}
                    </div>
                    <div class="row">
                        {{ formulaire.input("col-md-2","Montant taxable",form.montantTaxable,true) }}
                        {{ formulaire.input("col-md-2","Montant bon taxable",form.montantNonTaxable,true) }}
                        {{ formulaire.input("col-md-2","Montant remise",form.montantRemise,true) }}
                        {{ formulaire.input("col-md-2","fraisDossier",form.fraisDossier,true) }}
                    </div>
                    {{ macro.enregistrer }}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des lignes</span></h5>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>designation</th>
                            <th>Quantité / nbr nuit</th>
                            <th>Nbr adulte</th>
                            <th>Nbr enfant</th>
                            <th>Mnt taxable</th>
                            <th>Mnt non taxable</th>
                            <th>Remise</th>
                            <th>frais dossier</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in entete.lignes %}
                            <tr>
                                <td>{{ ligne.produit.code }}</td>
                                <td>{{ ligne.designation }}</td>
                                <td>{{ ligne.quantite }}</td>
                                <td>{{ ligne.nbrAdulte }}</td>
                                <td>{{ ligne.nbrEnfant }}</td>
                                <td>{{ ligne.montantTaxable }}</td>
                                <td>{{ ligne.montantNonTaxable }}</td>
                                <td>{{ ligne.montantRemise }}</td>
                                <td>{{ ligne.fraisDossier }}</td>
                                <td class="center">
                                    {{ macro.edit(path('addligne',{'id':entete.id,'ligne':ligne.id})) }}
                                    {{ macro.delete(path('deleteLigne',{'id':ligne.id})) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}