{% extends "::base.html.twig" %}
{% block title %}Gestion des ligne{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Entête Facture</span></h5>
                <table class="table table-hover" id="sample-table-1">
                    <thead>
                        <tr>
                            <th>Etat</th>
                            <th>Ref</th>
                            <th>Nom Client</th>
                            <th>M. non frais taxable</th>
                            <th>M. frais taxable</th>
                            <th>Total Tva</th>
                            <th>Remise</th>
                            <th>Frais dossier</th>
                            <th>Timbre</th>
                            <th>Total</th>
                            <th>Date creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ entete.showEtat }}</td>
                            <td>{{ entete.reference }}</td>
                            <td>{{ entete.nomClient }}</td>
                            <td>{{ entete.mntFraisTaxable }}</td>
                            <td>{{ entete.mntFraisNonTaxable }}</td>
                            <td>{{ entete.totalTva }}</td>
                            <td>{{ entete.totalRemise }}</td>
                            <td>{{ entete.fraisDossier }}</td>
                            <td>{{ entete.timbre }}</td>
                            <td>{{ entete.getTotal }}</td>
                            <td>{{ entete.dateCreation|date('d/m/Y') }} par {{ entete.suiviPar.username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        {% if entete.etat==1 %}
            <div class="row">
                <div class="col-md-12">
                    <h5 class="over-title margin-bottom-15"><span class="text-bold">Formulaire</span></h5>
                    <form action="{{ path('addligne',{'id':entete.id,'ligne':ligne.id}) }}" method="post" role="form" id="form">
                        {{ form_widget(form._token) }}
                        <div class="row">
                            {{ formulaire.select2("col-md-3","Parent",form.parent,true) }}
                            {{ formulaire.select2("col-md-2","Produit",form.produit,true) }}
                            {{ formulaire.input("col-md-4","Désignation",form.designation,true) }}
                            {{ formulaire.input("col-md-2","Quantité/nbr nuités",form.quantite,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Nombre adulte",form.nbrAdulte,true) }}
                            {{ formulaire.input("col-md-2","Prix achat unitaire",form.puhtAdulte,true) }}
                            {{ formulaire.input("col-md-2","Prix vente unitaire",form.puttAdulte,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Nombre enfant",form.nbrEnfant,true) }}
                            {{ formulaire.input("col-md-2","Prix achat unitaire",form.puhtEnfant,true) }}
                            {{ formulaire.input("col-md-2","Prix vente unitaire",form.puttEnfant,true) }}
                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-2","Montant remise",form.montantRemise,true) }}
                            {{ formulaire.input("col-md-2","Frais dossier",form.fraisDossier,true) }}
                        </div>
                        {{ macro.enregistrer }}
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des lignes</span></h5>
                <table class="table table-striped table-bordered table-hover table-full-width">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>designation</th>
                            <th>Quantité / nbr nuit</th>
                            <th>Nbr adulte</th>
                            <th>Nbr enfant</th>
                            <th>Mnt taxable</th>
                            <th>Mnt non taxable</th>
                            <th>Remise</th>
                            <th>frais dossier</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in entete.lignes if ligne.parent is null %}
                            <tr>
                                <td>{{ ligne.produit.code }}</td>
                                <td>{{ ligne.designation }}</td>
                                <td>{{ ligne.quantite }}</td>
                                <td>{{ ligne.nbrAdulte }}</td>
                                <td>{{ ligne.nbrEnfant }}</td>
                                <td>{{ ligne.montantTaxable }}</td>
                                <td>{{ ligne.montantNonTaxable }}</td>
                                <td>{{ ligne.montantRemise }}</td>
                                <td>{{ ligne.fraisDossier }}</td>
                                <td>{{ ligne.getTotal }}</td>
                                <td class="center">
                                    {% if entete.etat==1 %}
                                        {{ macro.edit(path('addligne',{'id':entete.id,'ligne':ligne.id})) }}
                                        {{ macro.delete(path('deleteLigne',{'id':ligne.id})) }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% for lign in ligne.fils %}
                                <tr>
                                    <td colspan="2" style="text-align: right;">{{ lign.designation }}</td>
                                    <td>{{ lign.quantite }}</td>
                                    <td>{{ lign.nbrAdulte }}</td>
                                    <td>{{ lign.nbrEnfant }}</td>
                                    <td>{{ lign.montantTaxable }}</td>
                                    <td>{{ lign.montantNonTaxable }}</td>
                                    <td>{{ lign.montantRemise }}</td>
                                    <td>{{ lign.fraisDossier }}</td>
                                    <td>{{ lign.getTotal }}</td>
                                    <td class="center">
                                        {% if entete.etat==1 %}
                                            {{ macro.edit(path('addligne',{'id':entete.id,'ligne':lign.id})) }}
                                            {{ macro.delete(path('deleteLigne',{'id':lign.id})) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}