{% extends "::base.html.twig" %}
{% block title %}Liste des factures{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des vues</span></h5>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Ref</th>
                            <th>Nom Client</th>
                            <th>Frais Taxable</th>
                            <th>Frais Non Taxable</th>
                            <th>Remise</th>
                            <th>Etat</th>
                            <th>Par</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entete in entetes %}
                            <tr>
                                <td>{{ entete.id }}</td>
                                <td>{{ entete.reference }}</td>
                                <td>{{ entete.nomClient }}</td>
                                <td>{{ entete.mntFraisTaxable }}</td>
                                <td>{{ entete.mntFraisNonTaxable }}</td>
                                <td>{{ entete.totalRemise }}</td>
                                <td>{{ entete.showEtat }}</td>
                                <td>{{ entete.suiviPar.username }}</td>
                                <td>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}