{% extends "::base.html.twig" %}
{% block title %}Liste des factures{% endblock %}
{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Liste des factures ({{ entetes.getTotalItemCount }})</span></h5>
                <table class="table table-striped table-bordered  table-hover table-full-width">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Etat</th>
                            <th>Ref</th>
                            <th>Nom Client</th>
                            <th>Frais Taxable</th>
                            <th>Frais Non Taxable</th>
                            <th>Remise</th>
                            <th>Total</th>
                            <th class="center">Par</th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entete in entetes %}
                            <tr>
                                <td>{{ entete.id }}</td>
                                {% if entete.etat==2 %}
                                    <td>{{ entete.showEtat }}</td>
                                    <td>{{ entete.reference }}</td>
                                {% else %}
                                    <td colspan="2">{{ entete.showEtat }}</td>
                                {% endif %}
                                <td>{{ entete.nomClient }}</td>
                                <td>{{ entete.mntFraisTaxable }}</td>
                                <td>{{ entete.mntFraisNonTaxable }}</td>
                                <td>{{ entete.totalRemise }}</td>
                                <td>{{ entete.getTotal|number_format(3,',','') }}</td>
                                <td class="center">{{ entete.dateCreation|date('d/m/Y') }} par {{ entete.suiviPar.username }}</td>
                                <td class="center">
                                    {{ macro.edit(path('addligne',{'id':entete.id})) }}
                                    {{ macro.print(path('print',{'id':entete.id})) }}
                                    {% if entete.etat==1 %}
                                        {{ macro.valider(path('valider',{'id':entete.id})) }}
                                        {{ macro.annuler(path('annuler',{'id':entete.id})) }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(entetes) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}