<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Facture</title>
        <link rel="stylesheet" href="{{ asset('facture/style.css') }}">
        <link rel="license" href="http://www.opensource.org/licenses/mit-license/">
        <script src="{{ asset('facture/script.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Facture</h1>
            <address contenteditable>
                <p>Jonathan Neal</p>
                <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
                <p>(800) 555-1234</p>
            </address>
            <span><img alt="" src="{{ asset('facture/logo.png') }}"><input type="file" accept="image/*"></span>
        </header>
        <article>
            <h1>Recipient</h1>
            <address contenteditable>
                <p>{{ entete.nomClient }}</p>
                <p>{{ entete.tel }}</p>
                <p>{{ entete.email }}</p>
            </address>
            <table class="meta">
                <tr>
                    <th><span contenteditable>Ref</span></th>
                    <td><span contenteditable>{{ entete.reference }}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Etat</span></th>
                    <td><span contenteditable>{{ entete.showEtat }}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Date</span></th>
                    <td><span contenteditable>{{ entete.dateCreation|date('d/m/Y') }} par {{ entete.suiviPar.username }}</td>
                </tr>
            </table>
            <table class="inventory" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th rowspan="2">Désignation</th>
                        <th rowspan="2" style="width: 8%">Nuitées<br>Quantité</th>
                        <th colspan="2" style="width: 10%">Pax</th>
                        <th colspan="2" style="width: 20%">PU TTC</th>
                        <th rowspan="2" style="width: 10%">Total</th>
                    </tr>
                    <tr>
                        <th>Ad</th>
                        <th>Enf</th>
                        <th>Ad</th>
                        <th>Enf</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in entete.lignes if ligne.parent is null %}
                        <tr class="item-row">
                            <td {% if ligne.fils|length>0 %}style="border-bottom: none"{% endif %}>{{ ligne.designation }}</td>
                            <td style="text-align: center">{{ ligne.quantite }}</td>
                            <td style="text-align: center">{{ ligne.nbrAdulte }}</td>
                            <td style="text-align: center">{{ ligne.nbrEnfant }}</td>
                            <td><span data-prefix>{{ ligne.puttAdulte }}</span></td>
                            <td style="text-align: right;"><span data-prefix>{{ ligne.puttEnfant }}</span></td>
                            <td style="text-align: right;"><span data-prefix>{{ ligne.getTotalFacture|number_format(3, '.', '') }}</span></td>
                        </tr>
                        {% for lign in ligne.fils %}
                            <tr class="item-row">
                                <td style="border-top: none;{% if loop.index < ligne.fils|length %}border-bottom:none;{% endif %}">{{ lign.designation }}</td>
                                <td style="text-align: center">{{ lign.quantite }}</td>
                                <td style="text-align: center">{{ lign.nbrAdulte }}</td>
                                <td style="text-align: center">{{ lign.nbrEnfant }}</td>
                                <td><span class="price">{{ lign.puttAdulte }}</span></td>
                                <td style="text-align: right;"><span class="price">{{ lign.puttEnfant }}</span></td>
                                <td style="text-align: right;"><span class="price">{{ lign.getTotalFacture|number_format(3, '.', '') }}</span></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="balance">
                <tr>
                    <th><span contenteditable>Total Non Taxable</span></th>
                    <td><span data-prefix>{{ entete.mntFraisNonTaxable }}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Total Taxable</span></th>
                    <td><span data-prefix>{{ (entete.mntFraisTaxable - entete.totalTva +  entete.totalRemise)|number_format(3, '.', '') }}</span></td>
                </tr>
                {% if entete.totalRemise >0 %}
                    <tr>
                        <th><span contenteditable>Remise</span></th>
                        <td><span data-prefix>- {{ entete.totalRemise }}</span></td>
                    </tr>
                {% endif %}
                </tr>
                <tr>
                    <th><span contenteditable>TVA</span></th>
                    <td><span data-prefix>{{ entete.totalTva }}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Timbre</span></th>
                    <td><span data-prefix>{{ entete.timbre }}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Total</span></th>
                    <td><span data-prefix>{{ entete.getTotal|number_format(3, '.', '') }}</span></td>
                </tr>
            </table>
        </article>
        <aside>
            <h1><span contenteditable>Additional Notes</span></h1>
            <div contenteditable>
                <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
            </div>
        </aside>
    </body>
</html>
